 /*
 Name: Axel Solano
 Course: MIS 3371
 File name: homework3.css
 Date created: 10/26/25
 Date updated:11/03/25
 Description: This is the CSS document for the
 styling of my homework3.html document with added styling for additional JS induced error messages.
 In addition, it contains the styling for my form validator button.
 */
#heading {
  background-color: #477AE0;
}

h1 {
  text-indent: -100px;
  font-size: 50px;
  font-family: Garamond, serif;
}

h2 {
  text-align: center;
  font-family: Garamond, serif;
}

h3 {
  text-decoration: underline;
  text-align: center;
  font-family: Garamond, serif;

}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#userCreation{
  padding-left: 6%;
  border-spacing: 20px 10px;
}

#pContact{
  padding-left: 6%;
  border-spacing: 20px 10px;
}

#visitReason{
  border-spacing: 20px 10px;
}

#addQuestions{
  border-spacing: 20px 10px;
}

#insProvider{
  padding-left: 6%;
  border-spacing: 20px 10px;
}

body {
  background-color: aliceblue;
}

#rangedisplay {
    display: block;
    text-align: center;
    margin-top: 5px;
}

#passwordTable tr.passwordValidationMsgs td:nth-child(2) {
  width: 70%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  padding-left: 350px;
  border-spacing: 00px;
  color: red;
}

#addressTable tr.addressValidationMsgs td:nth-child(2) {
  width: 70%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  padding-left: 350px;
  border-spacing: 00px;
  color: red;
}

#fname_message, #lname_message, #mi_message, #bday_message, #ssn_message, #phone_message, #insurance_msg {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

#returnValues{
    background-image: linear-gradient(to right, #67C2CF, #9DDCEB);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#validateEntry{
  background-image: linear-gradient(to right, #dce132, #d9e679);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

#sub{
  background-image: linear-gradient(to right, #4CAF50, #8BC34A);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  height:20%; 
  width:5%;
}

#res{
  background-image: linear-gradient(to right, #ff0000, #cc0000);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  height:20%; 
  width:5%;
}

.buttonHolder{ 
  text-align: center; 
  }

table.output, tr.output, td.output {
  width: 70%;
  opacity: 0.9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#477AE0;
  padding: 2px;
  border-spacing: 2px;
  color:rgb(222, 243, 245);
}

td.outputdata {
  width: 70%;
  opacity: 0.9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:white;
  padding: 2px;
  border-spacing: 2px;
  color:black;
}

#footer{
  background-color: #477AE0;
  font-family: Garamond, serif;
}

.large-footer-text{
  font-size: 23px;
}

.right-aligned {
  float: right;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 13%;
  display: block;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}